html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden !important; 
    position: fixed; 
}

body {
    background-image: url('./assets/beach-bg.png'); 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*buttons*/
.button-header {
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    z-index: 10;
}

.shell-btn {
    width: 70px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.shell-btn:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.9)) drop-shadow(0 0 5px gold);
}

.scroll-text {
    padding: 20px 40px;
}


/*warning for mobile screens*/

.mobile-warning {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: white;
    z-index: 9999;
    text-align: center;
    padding-top: 20%;
}

@media (max-width:768px){
    .mobile-warning{
        display: block;
    }

    .desktop-content {
        display: none;
    }
}
