html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden !important; 
    position: fixed; 
}

body {
    background-image: url('./assets/beach-bg.png'); 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.screen-container {
        position: relative;
        display: inline-block;
        width: 1200px;
    }

    .background-img {
        display: block;
        width: 100%;
        height: auto;
        user-select: none; 
        -webkit-user-drag: none;
    }

    .white-box-content {
    position: absolute;
    top: 4.7%;      
    left: 6.35%;     
    width: 53.5%;   
    height: 89%;  
    padding: 0px;
    box-sizing: border-box;
    overflow-y: auto;
    color: #333;
    font-family: sans-serif;
    user-select: none; 
    -webkit-user-select: none; 
     -ms-user-select: none; 
    cursor: default;
    border: 2px solid rgb(252, 252, 252);
    scrollbar-width: none;
    }
    .white-box-content::-webkit-scrollbar {
    display: none;
    }

    .white-box-content h1, 
    .white-box-content p {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    }

/*warning for mobile screens*/

.mobile-warning {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: white;
    z-index: 9999;
    text-align: center;
    padding-top: 20%;
}

@media (max-width:768px){
    .mobile-warning{
        display: block;
    }

    .desktop-content {
        display: none;
    }
}


/*buttons*/
.button-header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    gap: 60px;              
    padding: 20px 0;
    z-index: 10;
}

.shell-btn {
    width: 80px;            
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
    flex-shrink: 0;        
}

.shell-btn:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 10px gold);
}