body {
    background-image: url('assets/beach-bg.png');

    background-attachment: fixed;

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    background-color: red;
    
    margin: 0;
    padding: 0;


}