html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh; 
    overflow: hidden !important; 
    position: fixed; 
}

body {
    background-image: url('./assests/beach-bg.png'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    
    
    background-attachment: fixed; 
}